*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(170, 20, 20);
}
header {
    background-color: pink;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
}
.logo {
    width: 8rem;
}

nav>a {
    margin: 1rem;
    text-decoration: none;
}
.avionbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}
main{
    display: flex;
    min-height: 80vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
section>img {
width: 50rem;

}

.p1 {
margin-right: 3rem;

}

section {
   display: flex;
   margin-top: 2rem;
}
footer {
min-height: 10vh;
margin-top: auto;
text-align: center;
padding: 2em;
}

.plane{
   display: flex;
   width: 50%;
   margin-top: 2rem;
}
.woman{
    width: 15rem;   
}

.div1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10rem;   
}

.imagen1 {
    width: 25rem;
}
.imagen2 {
   width: 25rem;
}
.imagen3 {
    width: 25rem;
}

.principal{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.txt{
    margin-left: 5rem;
}
.div2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
    
}
.div3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5rem;
    margin-right: 5rem;
    
}
.div4 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5rem;
    margin-left: 2rem;
    
}
.imag1{
    width: 30rem;   
}
.contact{
    margin-top: 5rem;
    justify-content: space-between;
    text-align: center;
}

.phone{
    margin-left: 20rem;
}

.divcontact {
text-align: center;
margin-top: 2rem;
}
.divinfor{
    text-align: center;
    margin-top: 2rem;
}
.map {
    height: 20rem;
}
.list2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5rem;  
    text-align: justify;
}

table,tr,th,td {
    margin-top: 2rem;
border: 1px solid black;
border-collapse: collapse;
text-align: center;
}
.size
{
    background-color: aqua;
    width: 10rem;
}

.tabla {
display: flex;
}

article {
    
    text-align: center;
    margin-top: 2rem;
}

ol {
    list-style-position: inside;
}

.list1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem; 
    text-align: justify;
    
}

.couple {
    width: 40rem;
    margin-right: 3rem;
}
.map {
    width: 40rem;
    margin-right: 3rem;
}
.list2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5rem;  
    text-align: justify;
}

.mapa {
    margin-top: 10rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    margin-right: 3rem;
}

form {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
}

.contenedor{
    display: flex;
    justify-content: space-between;
}

.container{
display: flex;
align-items: center;

}
.terms {
    display: flex;
    padding: .5rem;
    margin: 1rem;
}

@media only screen and (min-width: 768px) and (max-width: 1023px){
   #avionbox {
    flex-direction: column;
    align-items: center;
}

.list1{
    flex-direction: column;
}
.list2{
    flex-direction: column;
}

 .contenedor {
    flex-direction: column;
        align-items: center;
 }

 .mapa {
    flex-direction: column;
 }

 form {
    flex-direction: column;
 }
   
}

@media only screen  and (max-width:767px) {
     
    nav{
        margin: 8px;
    }
    div>.logo{
        display: none;
    }
    .div1{
        flex-direction: column;
    }

    div>.div2, .div3, .div4 {
        flex-direction: column;
    }
    .imagen1 {
        width: 15rem;
        justify-content: center;
    }

    .txt{
        width: 10rem;
        justify-content: center;
    }
    .imagen2 {
        width: 15rem;
        justify-content: center;
    }
    .imagen3 {
        width: 15rem;
        justify-content: center;
    }

    .list1{
        flex-direction: column;
    }
    .list2{
        flex-direction: column;
    }
    .couple{
        width: 20rem;
        justify-content: center;
    }
    .map{
        width: 20rem;
        justify-content: center;
    }
    .imag1{
        width: 15rem;
    }
   .contact{
    flex-direction: column;
   }
  .mapa{
   
    width: .1rem;
    flex-direction: column;
    height: 3rem;
    align-items: center;
    margin-bottom: 15rem;
  }
form {
    flex-direction: column;
    width: 10rem;
    align-items: center;
    
 }
 .contenedor{
    flex-direction: column;
 }
 .mapa>.txt2 {
    align-items: center;
 }
}